/* MinimalProductinfo.css */

.MinimalProductinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    max-width: 1200px;
    margin: auto;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.imageContainer {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 20px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.MinimalProductinfoProduct-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    object-fit: contain;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.thumbnail-container {
    display: flex;
    gap: 10px;
}

.thumbnail {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.2s;
}

.thumbnail:hover {
    border-color: #007bff;
}

.thumbnail.active {
    border-color: #007bff;
}

.productDetails {
    flex: 2;
    text-align: left;
}

.MinimalProductinfoHeading {
    font-size: 2rem;
    color: #333;
    margin-bottom: 15px;
}

.MinimalProductinfoText {
    font-size: 1.1rem;
    color: #555;
    margin: 8px 0;
}

.price {
    font-size: 1.8rem;
    font-weight: bold;
    color: #b12704;
    margin-top: 15px;
}

.buttonsContainer {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.addToCartButton, .buyNowButton {
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.addToCartButton {
    background-color: #f0c14b;
    color: #111;
}

.addToCartButton:hover {
    background-color: #ddb347;
}

.buyNowButton {
    background-color: #ffa41b;
    color: white;
}

.buyNowButton:hover {
    background-color: #e68a00;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .MinimalProductinfo{
        position: relative;
    }
    .MinimalProductinfoArrows{
       position: absolute;
       top: 50%;
    }
    .MinimalProductinfoArrows > .leftArrow{
        position: absolute;
        left: 0;
    }
    .MinimalProductinfoArrows > .rightArrow{
        position: absolute;
        right: 0;
    }
    .MinimalProductinfo {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .product-image {
        max-width: 80%;
    }

    .MinimalProductinfoHeading {
        font-size: 1.5rem;
    }

    .price {
        font-size: 1.5rem;
    }
}
