/* Product.css */

.productDetailsPage {
    max-width: 90%;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-family: Arial, sans-serif;
}

.productDetailsPage__title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.productDetailsMainContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.productDetailsPage__image {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.productDetailsContainer {
    flex: 1;
    max-width: 500px;
    padding: 20px;
}

.productDetailsPage__description {
    font-size: 1.1rem;
    color: #555;
    margin: 10px 0;
}

.buttonsContainer {
    display: flex;
    justify-content: right;
    margin-top: 20px;
}

.addToCartButton, .buyNowButton {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.addToCartButton {
    background-color: #ff8a00;
    color: #fff;
}

.buyNowButton {
    background-color: #2eb1e5;
    color: #fff;
}

.addToCartButton:hover {
    background-color: #e57000;
}

.buyNowButton:hover {
    background-color: #c91f5c;
}

@media (max-width: 768px) {
    .productDetailsPage__title {
        font-size: 1.5rem;
    }
    .productDetailsMainContainer {
        flex-direction: column;
        align-items: center;
    }
    .productDetailsContainer {
        padding: 10px;
    }
}
@media screen and (max-width: 500px) {
    .buttonsContainer{
        flex-direction: column;
        justify-content: center;
    }
}
