.market-button{
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #005180;
    color: white;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}
 .footer-logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/*
.footer-logo-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo-wrapper img{
    width: 100%;
} */
.leftSection *{
    color: black !important;
}
.footer-logo-wrapper{
    margin: 0;
}
.emailINput{
    width: 335px;
}