.heroSection {
    max-height: 100vh !important;
    overflow: hidden;
    padding-left: 50px;
}

@media screen and (max-width: 768px) {
    .heroSection {
        padding: 0;
    }

    .lc-block-panel {
        width: 580px !important;
        margin: 0;
        display: flex;
    }

    .panel-options {
        justify-content: flex-start !important;
    }

    .panel-options .border {
        margin-left: 0;
        background-color: rgba(248, 120, 0, 0.301) !important;
    }

}

@media screen and (max-width: 576px) {
    .lc-block-panel {
        width: 370px !important;
    }

    .panel-options {
        gap: 0.5rem !important;
    }
}
.packageIcon {
    /* font-size: 100px; */
    color:  rgb(248, 128, 16);
    -webkit-text-stroke: 1px  rgb(248, 128, 16);
}
.lc-block a {
    margin: 10px;
}

.outline {
    color: transparent;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5)
}


.lc-block-panel {
    width: 900px;
    margin: 0 auto;
    /* Center the panel */
}

.panel-options {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
    justify-content: center;
    /* Center the options within the panel */
}

.panel-options .border {
    color: #333;
    /* Darker color for readability on white */
    padding: 0.5rem 1rem;
    border: 2px solid #ccc;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    /* Ensures text stays on top */
}

.panel-options .border::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    /* Subtle shadow effect */
    transition: left 0.5s linear;
    z-index: -1;
    /* Ensures shadow stays behind text */
}

.panel-options .border:hover::before {
    left: 0;
    /* Slide-in shadow effect */
}

.panel-options .border:hover {
    background-color: rgb(248, 128, 16);
    color: #fff;
    transform: scale(1.05);
}